<div class="content_home">
  <div class="toplane">
    <img src="http://imagizer.imageshack.com/v2/976x487q50/r/922/dGtfvR.png" alt="">
      <div class="titre">
        <h2>Selectionnez un scénario !</h2>
      </div>
  </div>
  <div class="all_games">
    <div class="Tuto">
      <h2> <%= link_to "Tutoriel", tutoriel_path%> </h2>
    </div>
        <div class= "Alerte">
          <% @games.each do |game| %>
           <h2><%= link_to "Alerte à Lille", game_path(game), class:"btn_alerte" %></h2>
          <%end %>
    </div>
    <div class="Apo">
      <h2>Apoca<font color="#CE0707"> LILLE</font>pse</h2>
    </div>
  </div>




  <div class="navbar_home">

    <div class="regles">
    <%= link_to rules_path do %>
      <i class="fa fa-fw fa-list"></i>
    <% end %>
    </div>
    <div class="profil">
    <%= link_to profil_path do %>
      <i class="fa fa-fw fa-user"></i>
    <% end %>
    </div>
    <div class="reglages">
    <%= link_to reglages_path do %>
      <i class="fa fa-fw fa-gear"></i>
    <% end %>
    </div>
  </div>
</div>
