<div class="card_enigme-container">
  <div class="content_cards" data-controller="penalty">
    <%= render "shared/timer" %>
    <% case @enigma.enigma_type %>
        <% when "figuresenigma" %>
          <%= render 'figuresenigma' %>
        <% when "photos_QCM" %>
          <%= render 'photos_QCM' %>
        <% when "minigame" %>
          <%= render 'minigame' %>
          <% when "resolution_game" %>
          <%= render 'resolution_game' %>
      <% end %>
    </div>
    <div class="navbar_inside">
      <div class="home">
      <%= link_to home_path do %>
        <a class="home" href="#"><i class="fa fa-fw fa-home"></i></a>
         <% end %>
        </div>
        <%# <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a> %>
        <%# <a href="#"><i class="fa fa-fw fa-circle-info" ></i> Indices</a> %>
        <div class="indices" >
        <a onclick="window.dialog.showModal();"><i class="fa fa-fw fa-circle-info"></i></a>
        </div>
        <dialog id="dialog">
          <div class="popup-text">
            <h2>Indice de l'egnime</h2>
              <%# <p>A CSS-only modal based on the <a href="https://developer.mozilla.org/es/docs/Web/CSS/::backdrop" target="_blank">::backdrop</a> pseudo-class. Hope you find it helpful.</p> %>
                <% if @enigma.hint.nil? %>
                  <p> Aucun indice pour cette enigme </p>
                <% else %>
                  <p><%=@enigma.hint.content %></p>
                <% end %>
            <button onclick="window.dialog.close();" aria-label="close" class="x">:x:</button>
          </div>
        </dialog>
      <div class="bombe">
      <%= link_to bombe_path do %>
     <i class="fa fa-fw fa-bomb"></i>
      <% end %>
      </div>
    </div>

</div>

