<div class="content_cards" data-controller="penalty">
  <%= render "shared/timer"  %>

  <div class="card_enigme-container">
    <% case @enigma.enigma_type %>
      <% when "figuresenigma" %>
        <%= render 'figuresenigma' %>
      <% when "photos_QCM" %>
        <%= render 'photos_QCM' %>
      <% when "minigame" %>
        <%= render 'minigame' %>
    <% end %>
  </div>
</div>


<div class="navbar_game">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
  <%# <a href="#"><i class="fa fa-fw fa-circle-info" ></i> Indices</a> %>
  <button class="button-indice" onclick="window.dialog.showModal();"><i class="fa fa-fw fa-user"></i>Indice</button>
  <dialog id="dialog">
    <div class="popup-text">
      <h2>Indice de l'egnime</h2>
        <%# <p>A CSS-only modal based on the <a href="https://developer.mozilla.org/es/docs/Web/CSS/::backdrop" target="_blank">::backdrop</a> pseudo-class. Hope you find it helpful.</p> %>
          <% if @enigma.hint.nil? %>
            <p> Aucun indice pour cette enigme </p>
          <% else %>
            <p><%=@enigma.hint.content %></p>
          <% end %>
      <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
    </div>
  </dialog>

  <a href="#"><i class="fa fa-fw fa-bomb"></i> Bombe</a>
</div>
