<div class="content_cards">

 <div class="card_enigme-container">


<div class="card_enigme">
  <h1><%= @enigma.title %></h1>
  <p><%= @enigma.description %></p>

  <%# <div class="card_jeu_photo"> %>
    <div class="infos">
      <h3>Validez votre choix ! </h3>

    <% @enigma.answers.each do |answer| %>
      <% if answer.is_good_answer %>
        <% if @enigma.point_of_interest %>
          <%= link_to point_of_interest_path(@enigma.point_of_interest) do %>
            <div class="photos" style="background-image: url('<%= answer.poster_url %>');">
              <%= answer.content %>
            </div>
          <% end %>
        <% else %>
          <%= link_to enigma_path(Enigma.find_by_order_in_the_game(@enigma.order_in_the_game + 1)) do %>
            <div class="photos" style="background-image: url('<%= answer.poster_url %>');">
              <%= answer.content %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "False Answer", false_answer_popup_enigma_path(@enigma), class: "false-answer-button", remote: true %>
      <% end %>
    <% end %>
     </div>
    <button class="primary" onclick="window.dialog.showModal();">Indice</button>
  <dialog id="dialog">
      <div class="popup-text">
        <h2>Indice de l'egnime</h2>
        <%# <p>A CSS-only modal based on the <a href="https://developer.mozilla.org/es/docs/Web/CSS/::backdrop" target="_blank">::backdrop</a> pseudo-class. Hope you find it helpful.</p> %>
      <% if @enigma.hint.nil? %>
        <p> Aucun indice pour cette enigme </p>
    <% else %>
      <p> <%=@enigma.hint.content  %> </p>
      <% end %>

    <% case @enigma.enigma_type %>
      <% when "figuresenigma" %>
        <%= render 'figuresenigma' %>
      <% when "photos_QCM" %>
        <%= render 'photos_QCM' %>
      <% when "minigame" %>
        <%= render 'minigame' %>
    <% end %>


    </div>
<%# <%= console %>
</div>

<div class="navbar_game">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
    <a href="#"><i class="fa fa-fw fa-circle-info"></i> Indices</a>
    <a href="#"><i class="fa fa-fw fa-bomb"></i> Bombe</a>
  </div>
